<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista de produtos</title>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'static/produto/css/listaprodutos.css' %}">
</head>
<body>
    <h1>lista de produtos</h1>
    <div class="inicio">
        <a href="{% url 'phome'%}">inicio</a>
    </div>
    <div class="tabela">
        <table border="3">
            <thead>
                <tr>
                    <th >ID</th>
                    <th>Nome do produto</th>
                    <th>Codigo de barra</th>
                    <th>Estoque</th>
                    <th>localização</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos  %}
                    <tr>
                        <td class="id">{{ produto.id }}</td>
                        <td>{{ produto.nome_do_produto}}</td>
                        <td>{{produto.codigo_de_barra}}</td>
                        <td>{{ produto.quantidade_total }}</td>
                        <td>{{ produto.localizacao }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Nenhum produto encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
</body>
</html>