<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'produto/css/localizar.css' %}">
</head>
<body>
<h1>localização</h1>
<div class="inicio">
<a href="{% url 'phome'%}">inicio</a>
</div>
<div class="formulario">
<label>digite o id do produto para localizar o produto</label>
<form action="" method="post">
    {% csrf_token %}
    <input
    type="number"
    id="id_do_produto"
    name="id_do_produto"
    placeholder="id do produto"
    required/>
    <br/>
    <input type="submit" value="localizar"/>
</form>
</div>
<h2></h2>
<h4>*a localização do produto é organizada em corredor, coluna,
    nivel e vão, terá o endereçamento de xxxx</h4>
</body>
</html>