
.afacad-flux-<uniquifier> {
    font-optical-sizing: auto;
    font-family: "Afacad Flux", serif;
    font-style: normal;
    font-weight: <weight>;
    font-variation-settings:
    "slnt" 0;
}
body{
font-family: "Afacad Flux", serif;
font-weight: 400;
font-style: normal;
background-color:#251819;
color:#73b295;
}
.inicio{
    text-align:center;
    margin-bottom:50px;
}
a{
    text-decoration: none;
    color: #251819;
    cursor: pointer;
    transition:transform 0.3s ease;
    padding:5px 10px;
}
a:hover{
    color:#f21f26;
    border: 2px solid #251819;
    border-radius:5px;
    background-color: #251819;
}
h1, h2{
    text-align: center;
    
}
.
