.afacad-flux-<uniquifier> {
    font-optical-sizing: auto;
    font-family: "Afacad Flux", serif;
    font-style: normal;
    font-weight: <weight>;
    font-variation-settings:
    "slnt" 0;
}
body{
font-family: "Afacad Flux", serif;
font-weight: 400;
font-style: normal;
background:#f21f26;
}
h1{
    color:#251819;
    font-size:45px;
    width:50%;
    margin:0 auto;
    text-align: center;
    margin-bottom:30px;
}
a{
    text-decoration: none;
    color: #251819;
    cursor: pointer;
    transition:transform 0.3s ease;
    padding:5px 10px;
    margin-bottom:50px;
    text-align:center;   
}
a:hover{
    color:#f21f26;
    border: 2px solid #251819;
    border-radius:5px;
    background-color: #251819;
}
.inicio{
    text-align:center;
    margin-bottom:50px;
}
table{
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    background-color:#f21f26;
}
th{
    background-color:#251819;
    color:#f21f26;
    font-size:15px;
    padding:10px;
}
td{
    background-color:#f77562;
    color:#251819;
    font-size:15px;
    padding:10px;
}
.id{
    background-color:#ff8570;
}
.botao{
    padding: 10px 20px; 
    background-color: #f21f26; 
    color: #251819;
    border: none;
    border-radius: 5px;
}